
        <div class="container-lg">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="contact-form">
                        <h1>Enter Device Details</h1>
                        {{#if message}}<div class="alert alert-info"><strong>System: </strong> {{message}}</div>{{/if}}             
                        {{#if error}}<div class="alert alert-danger"><strong>Error:</strong> {{error}}</div>{{/if}}
                        {{#if errors}}<div class="alert alert-danger"><strong>Error:</strong> {{errors}}</div>{{/if}}
                        <form action="" method="post" > 
                            <div class="form-group">
                                <label for="inputSubject">Name</label>
                                <input type="text" class="form-control" name="name" value="{{dataDevice.name}}"required>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputName">Type  &nbsp; Old Type is "{{dataDevice.type}}"</label>
                                        
                                        <label><input type="radio" name="type" value="rfid">Check RFID Device</label> 
                                        <label><input type="radio" name="type" value="fire">Fire Device&nbsp;</label>
                                        <label><input type="radio" name="type" value="booked_table">Booked Table Device</label> 
                                        <label><input type="radio" name="type" value="booked_room">Booked Room Device</label>  
                                        <label><input type="radio" name="type" value="borrow_book">Borrow Book Device</label>        
        	                            <label><input type="radio" name="type" value="switch">Switch On/Off</label>

                                    </div>
                                </div>         
                            </div>  
                            <div class="form-group">
                                <label for="inputSubject">Note</label>
                                <input type="text" class="form-control" name="note" value="{{dataDevice.note}}"required>
                            </div>    
                            
                            <button type="submit" value="Edit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
