
        <div class="container-lg">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="contact-form">
                        <h1>Enter Department Details</h1>
                        {{#if message}}<div class="alert alert-info"><strong>System: </strong> {{message}}</div>{{/if}}             
                        {{#if error}}<div class="alert alert-danger"><strong>Error:</strong> {{error}}</div>{{/if}}
                        {{#if errors}}<div class="alert alert-danger"><strong>Error:</strong> {{errors}}</div>{{/if}}
                        <form action="/department/add" method="post" > 
                            <div class="form-group">
                                <label for="inputSubject">Name</label>
                                <input type="text" class="form-control" name="name" required>
                            </div> 
                            <div class="form-group">
                                <label for="inputSubject">Description</label>
                                <textarea class="form-control" rows="5" id="comment" name="description" required></textarea>
                            </div>    
                            <div class="form-group">
                                <label for="inputSubject">Attendance Device</label>
                                <select name="device" id="">
                                    {{#each deviceList}}
                                        <option value="{{_id}}">
                                            {{name}}
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
                            <button type="submit" value="Add" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
