
        <div class="container-lg">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="contact-form">
                        <h1>Enter User Details</h1>
                        {{#if message}}<div class="alert alert-info"><strong>System: </strong> {{message}}</div>{{/if}}             
                        {{#if error}}<div class="alert alert-danger"><strong>Error:</strong> {{error}}</div>{{/if}}
                        {{#if errors}}<div class="alert alert-danger"><strong>Error:</strong> {{errors}}</div>{{/if}}
                        
                        <form action="" method="post" enctype="multipart/form-data" > 
                            <div class="form-group">
                                <label for="inputSubject">Name</label>
                                <input type="text" class="form-control" name="name" value="{{userData.name}}"required>
                            </div> 
                            <div class="form-group">
                                <label for="inputSubject">Email</label>
                                <input type="email" class="form-control" name="email" value="{{userData.email}}"required>
                            </div>
                            <div class="form-group">
                                <label for="inputSubject">Password</label>
                                <input type="password" class="form-control" name="password" value="{{userData.password}}"required>
                            </div>  
                            <div class="form-group">
                                <label for="inputSubject">RFID</label>
                                <input type="text" class="form-control" name="rfid" value="{{userData.rfid}}"required>
                            </div> 
                            <div class="form-group">
                                <label for="inputSubject">Origin Image</label>
                                <img src="data:image/jpeg;base64,{{userData.image}}" style="max-width: 150px;">
                            </div>
                            <div class="form-group">
                                <label for="inputSubject">Choose New Image</label>
                                <input type="file" class="form-control" name="image" accept="image/*">
                            </div>
                            <div class="form-group">
                                <label for="inputSubject">Origin Room: "{{userData.room_id.name}}"</label>
                            </div>
                            <div class="form-group">
                                <label for="inputSubject">Choose New Room</label>
                                {{#each roomList}}
                                    <label><input type="radio" name="room" value="{{_id}}">{{name}}</label>
                                {{/each}}
                            </div>
                            <button type="submit" value="Edit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Edit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
